* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #262626;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
/* #messengerify {
  -webkit-animation: hue-rotate 10s linear infinite;
  animation: hue-rotate 10s linear infinite;
} */
/* @-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(30deg);
    -moz-filter: hue-rotate(30deg);
    -ms-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(30deg);
    -moz-filter: hue-rotate(30deg);
    -ms-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
  }
} */
#particles {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
h1 {
  /* text-transform: uppercase; */
  font-size: 85px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
h1#mid::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 20px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}
.button {
  position:relative;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  background: #fff;
  border: solid 4px #262626;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
	transition: all 500ms ease;
}
.button:hover {
  background: #262626;
  color: #fff;
}
/* header */
.header {
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.header h1#logo {
  /* display: inline=block; */
  height: 50px;
  float: left;
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #262626;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header nav {
  /* display: inline=block; */
  float: right;
  margin-right: 20px;
}
.header nav > a {
  line-height: 90px;
  margin-right: 20px;
  color: #262626;
  font-size: 18px;
  position: relative;
}
.header nav > a:hover {
  color: #0f0f0f;
}
/* Hide the link that should open and close the topnav on small screens */
.header .hamburgerMenu {
  display: none;
}

/* section content */
.section-content {
  width: 100%;
  padding: 100px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  clear: both;
}
.section-content > div {
  width: 50%;
}
.section-image {
  display: flex;
  align-content: center;
}
#story {
  background-color: #fff
}
#story-image-1 {
  height: 65%;
  width: auto;
}
.paper-image {
  box-shadow: 2px 5px 10px #888888;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.paper-image:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
       transform: scale(1.1);
}
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: -50px;
}
.section-header-title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #262626;
}
.section-content-para {
  margin: -40px 0 0 0;
  font-size: 18px;
  line-height: 40px;
  color: #262626
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .section-content > div {
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px;
  }
  .section-header {
    margin: 10px;
  }
  #story-image-1 {
    height: 65%;
    width: auto;
  }
}
/* underline animation, only applicable to desktop */
@media screen and (min-width: 800px) {
  .header nav > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden; /* for browser that dont support css animation */
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .header nav > a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media all and (max-width: 800px) {
  .header {
    height: 50px;
  }
  .header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 80px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
  }
  .header nav {
    display: inline-block;
    float: none;
    height: 200px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: auto;
  }
  .header nav a {
    display: block;
    line-height: 50px;
    margin: 0 10px;
  }
  .header nav a.hamburgerMenu {
    float: right;
    display: block;
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40px;
  }
  .header.responsive {
    position: fixed;
    height: 250px;  /* menu height */
  }
  .header.responsive a.hamburgerMenu {
    position: absolute;
  }
  .header.responsive a {
    vertical-align: middle;
  }
  .button {
    width: 160px;
    height: 46px;
    font-size: 16px;
  }
  .section-content > div {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
}

/* content media */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
  .section-header {
    padding: 10px;
  }
  .section-content-para {
    padding: 10px 0;
  }
  .section-header-title {
    font-size: 60px;
  }
  .section-content > div {
    width: 100%;
  }
  #story-image-1 {
    height: 50%;
    width: auto;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1#mid::after {
    height: 8px;
  }
  .section-content {
    padding: 20px;
  }
  .section-header-title {
    font-size: 40px;
  }
  .section-content-para {
    font-size: 16px;
    line-height: 30px;
  }
  .button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: solid 3px #262626;
  }
  .section-content > div {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1#mid::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .section-content {
    padding: 40px 20px;
  }
  .section-header {
    padding: 60px 0;
  }
  .section-header-title {
    font-size: 30px;
  }
  .section-content-para {
    margin: 5px 0;
    font-size: 16px;
    line-height: 28px;
    color: #262626
  }
  .button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: solid 3px #262626;
  }
  .section-content > div {
    width: 100%;
  }
  #story-image-1 {
    height: 50%;
    width: auto;
  }
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1#mid::after {
    height: 4px;
  }
  .section-content {
    padding: 20px;
  }
  .section-header {
    padding: 60px 0;
  }
  .section-header-title {
    font-size: 28px;
  }
  .section-content-para {
    font-size: 14px;
    line-height: 28px;
    color: #262626
  }
  .button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: solid 3px #262626;
  }
  .section-content > div {
    width: 100%;
  }
  #story-image-1 {
    height: 50%;
    width: auto;
  }
}
/* hide image when device is landscape */
/* @media only screen 
and (orientation:landscape) {
  .section-header {
    padding: 20px 0;
  }
  .section-content-para {
    padding: 20px 0;
  }
  #story-image-1 {
    height: 0;
    width: 0;
  }
} */